<!-- Head-->
{% include 'recipes/partials/head.html' %}

<body>
    <!-- Header -->
    {% include 'recipes/partials/header.html' %}

    <!-- Formulario de busca-->
     {% include 'recipes/partials/search-container.html' %}

     <main class="main-content-container">
        <div class="main-content main-content-list">
              {% include 'recipes/partials/recipe.html' %}          
              {% include 'recipes/partials/recipe.html' %}
              {% include 'recipes/partials/recipe.html' %}
        </div>
     </main>
     {% include 'recipes/partials/footer.html' %}
</body>

</html>